html {
    font-family: 'Playfair Display', serif;
    background: #b0ada5;
}

body {
    height: 100%;
    background-image: url(../img/bgiforpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

footer {
    margin-top: 5%;
}

.wrapper {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
    position: relative;

}

.logo {
    width: 150%;
    min-width: 100px;
    min-height: 95px;
    height: 150%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;

}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -1.4%;
    width: 65%;
    min-width: 90%;
    height: 43.51px;
    background: rgba(168, 135, 96, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 10%;
}

.navigation > hr {
    position: relative;
    width: 3.32px;
    height: 63.98px;
    top: -8px;
    background: #0E0E0E;
    border: none;
}

.navigation > li {
    display: flex;
    position: relative;
    align-items: center;

}

.navigation > li:first-child {
    padding-left: 2%;
    margin-left: 3%;
}

.navigation > li > a {
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 300;
    font-size: 170%;

}

hr {
    height: 2px;
    margin-top: 1%;
    background: rgba(168, 150, 96, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-item {
    display: flex;
    font-weight: normal;
    font-size: 550%;
    /*line-height: 128px;*/
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.73);
}

.end, .icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.end {
    background: linear-gradient(296.64deg, rgba(231, 157, 126, 0.35) 1.4%, rgba(231, 157, 126, 0.3) 14.37%, rgba(231, 157, 126, 0.25) 33.38%, rgba(195, 143, 155, 0.31) 44.1%, rgba(206, 138, 150, 0.28) 65.03%, rgba(206, 138, 150, 0.15) 74.12%, rgba(206, 138, 150, 0.12) 82.61%, rgba(114, 98, 135, 0.1) 91.97%), rgba(157, 158, 172, 0.37);
}

.fter, .resuor {
    display: inline-block;
}

.fter {
    margin-left: 1.5%;
    font-weight: bold;
    font-size: 22px;
    text-transform: lowercase;
    color: #000000;
}

.icon-group {
    margin-right: 1%;

}

.icon-group:first-child {
    width: 17%;
}

.icon-group:nth-child(2) {
    margin-right: 1.5%;
}

.icon-group:nth-child(3) {
    width: 33%;
}

.resuor {
    width: 58px;
    margin-top: 10px;
    margin-left: 2px;
}

@media (max-width: 992px) {
    .wrapper {
        max-width: 750px;
    }

    .nav {
        margin-top: -10%;
        padding: 0;
    }

    .logo {
        margin-top: -10%;
        /*margin-left: 10%;*/
    }

    .navigation {
        flex-direction: column;
        background: none;
        box-shadow: none;
        padding: 0;
        min-height: 300px;
        width: 100%;
    }

    .navigation > hr {
        width: 0;
        height: 0;
    }

    .navigation > li > a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-left: 40%;
    }

    .navigation > li {
        margin: 0;
        padding: 0;
    }

    .end {
        flex-direction: column;
    }

    .icon-group:first-child {
        width: 100%;
    }

    .icon-group:nth-child(2) {
        margin-right: 0;
    }

    .icon-group:nth-child(3) {
        width: 100%;
    }

}

@media (max-width: 767px) {
    .wrapper {
        max-width: none;
/*        padding-left: 10%;
        padding-right: 10%;*/
    }

    .nav {
        margin-top: -15%;
        padding: 0;
    }

    .logo {
        margin-top: -10%;
        /*margin-left: 10%;*/
    }

    .navigation {
        flex-direction: column;
        background: none;
        box-shadow: none;
        padding: 0;
        min-height: 300px;
    }

    .navigation > hr {
        width: 0;
        height: 0;
    }

    .navigation > li > a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-left: 40%;
    }

    .navigation > li {
        margin: 0;
        padding: 0;
    }

    .title-item {
        font-size: 450%;
    }
}

@media (max-width: 446px) {
    .navigation > li > a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-left: 20%;
    }

    .logo{
        min-width: 70px;
        min-height: 68px;
    }

    .nav {
        margin-top: -20%;
        padding: 0;
    }

    .title-item {
        font-size: 400%;
    }
}

/*
@media (max-width: 992px) {
    .navigation {
        flex-direction: column;
        background: none;
        box-shadow: none;
        padding: 0;
        min-height: 300px;
        min-width: 100%;
    }
}*/
