.title-us, .text{
  display: flex;
  align-items: center;
  text-align: justify;
 }
  .title-us{
    justify-content: center;
    background: url(../img/lobby1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 173px;
  }

.main{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 5fr);
  margin: 5%;
  grid-gap: 2%;
  align-items: center;
}
.history, .service{
  background: #b6b8b8;
  box-shadow: 0px 10px 8px 8px rgba(79, 76, 107, 0.6);
  border-radius: 25px;
}

.history>img{
  width: 95%;
  height: 80%;
  left: 5px;
  top: 17px;
  border-radius: 15px;
  padding: 10px;
}
.service{
  left: 3.59px;
  margin-left: 10%;

}
.service>img{
  width: 95%;
  height: 80%;
  border-radius: 15px;
  padding: 10px;
}
.text{
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  padding: 10px;
}
