
.title-gal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 173px;
    width: 100%;
}

.gallery {
    /*display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*row-gap: 5%;
    column-gap: 5%;*/
    padding-bottom: 5%;
    margin: 5%;
}

/*.gimg:nth-child(3) {
    grid-row: 1/3;
    align-self: center;
}*/

.gallery:first-child {
    margin-top: 0;
}

.gimg{
    margin-top: 5%;
}

.gimg > img {
    width: 100%;
    /*height: 85%;*/
    border: 2px solid #efdfbd;
}
