
.title-book, .roombanner, .general-title, #exsplanation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-book {
    background: url(../img/gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 173px;
}

#roomDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}

/*.roombanner1{
    background-color: #bfbeb9;
}

.roombanner2{
    background-color: #bfbeb9;
}

.roombanner3{
    background-color: #bfbeb9;
}*/

.roombanner {
    flex-direction: column;
    width: 90%;
    text-align: center;
    justify-content: center;
    background-color: #deccae;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 5%;
    padding: 7%;
}

.roombanner > img {
    width: 100%;
    /*max-width: 600px;*/
    /*height: 50%;*/
}

.roombanner > p {
    font-size: 24px;
}

.roombanner > button {
    width: 191px;
    height: 44px;
    background: #667978;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: -5%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.popup-content {
    position: relative;
    top: 10%;
    background-color: #d1cdc1;
    margin: auto;
    padding: 2%;
    border: 1% solid #888;
    width: 88%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.popup-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.close {
    color: #aaa;
    font-weight: bold;
    margin-left: auto;
    font-size: 48px;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.popup-body {
    /*display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
}

.general-title {
    flex-direction: column;
    text-align: center;
}

.general-title > img {
    width: 100%;
    max-width: 600px;
    /*height: 50%;*/
}

.detailRoom {
    text-indent: 1.5em;
    text-align: justify;
    justify-content: center;
    padding-right: 3%;
    margin-top: 5%;
    font-size: 28px;
}

.popup-footer {
    background-color: #eca44f;
    padding: 0 3% 3%;
    margin-top: 4%;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #ffffff;
    font-size: 200%;;
}

.dates {
    display: flex;
    /*grid-template-rows: 2%;
    grid-template-columns: 5fr 5fr;*/
    flex-direction: row;
    width: 100%;

}

.phone {
    display: flex;
    /*grid-template-rows: 2%;
    grid-template-columns: 5fr 5fr;*/
    flex-direction: row;
    width: 100%;
}

.departure {
    margin-left: 10%;
}

.FTR > input {
    width: 100%;
    height: 55px;

}

/*.FTR {
    margin-right: 2%;
    padding: 1%;
}*/

/*.FP {
    padding: 1%;
}*/

.FP > input {
    width: 100%;
    height: 55px;

}

.numberes {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: baseline;
}

/*.FRM:first-child {
    margin-left: 1%;
}*/

.FRM > input {
    width: 35%;
}

.popup-submit {
    width: 200px;
    height: 90px;
    align-self: flex-end;
    margin-top: 3%;
    margin-left: 60%;
    /*margin-left: 75%;*/
    /*position: center;*/

    background-color: #667978;
    font-size: 100%;
}


#preview {
    display: block;
}

@media (max-width: 992px) {

}
/*
.draft {
    display: grid;
    grid-template-columns: repeat(2, 335px) 45px;
    grid-template-rows: 110px, 45px, 145px;
    row-gap: 0;
    column-gap: 0;
    padding: 24px;
    align-items: center;
    justify-content: center;

}

.draft-item {
    padding: 0;
    margin: 0;
}

.draft-item > a {
    padding: 0;
    margin: 0;
}

.draft-item > a > img {
    padding: 0;
    margin: 0;
}

.draft-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
    align-self: flex-start;

}*/

/*.draft-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1;
}

.draft-item:nth-child(3) {
    grid-row: 2;
    grid-column: 1/2;

}

.draft-item:nth-child(4) {
    grid-row: 3;
    grid-column: 1;

}

.draft-item:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
}

.draft-item:nth-child(6) {
    grid-column: 3/3;
    grid-row: 1/4;
    align-self: center;

}*/

#exsplanation {
    flex-direction: column;
    text-align: center;
    font-size: 22px;

}

#exsplanation > p {
    margin-top: -0.3%;
    font-size: 20px;
    color: #934637;
}

#corridor {
    grid-column: 1;
    grid-row: 1/3;
    align-self: flex-start;
    width: 159.44px;
    height: 372.77px;
}

#hallway {
    width: 454.98px;
    height: 108.9px;
    position: relative;
    padding-left: 55%;
}

#hR1 {
    width: 324.58px;
    height: 208.9px;
    position: relative;
    margin-left: 65%;

}

#hR2 {
    width: 305.07px;
    height: 243.4px;
}

#hR3 {
    width: 311.06px;
    height: 242.37px;
}

#side {
    width: 63.9px;
    height: 632.85px;
}

/*input:invalid {*/
/*  border: 2px dashed red;*/
/*}*/

/*input:invalid:required {*/
/*  background-image: linear-gradient(to right, pink, lightgreen);*/
/*}*/

@media (max-width: 767px) {

    .numberes {
        flex-direction: column;
    }

    .FTR > input {
        width: 80%;

    }

    .FP > input {
        width: 80%;

    }

    .dates {
        flex-direction: column;
    }

    .departure {
        margin-left: 0;
    }

    /*.FRM:first-child{
        margin-left: 0%;
    }

    .FRM{
        padding: 1%;
    }*/


    #navgal {
        display: none;
    }

    #preview {
        display: none;
    }

    #roomDetails {
        display: block;
    }
}
